/* src/pages/SocialShop.css */
.socialshop-container {
  padding: 20px 40px;
}

.posts-list {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.post-card {
  border: 1px solid #ddd;
  padding: 10px;
  border-radius: 5px;
  background-color: white;
}